/* This defines styles and classes used in the book */
body { 
    padding: 3% 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 1em;
    text-align: justify;
 }
code { font-family: monospace; }
h1 {
    margin: 1em 0 5em;
    line-height: 120%;
    text-align: left;
    font-family: STSong, serif,"Times New Roman", "方正书宋", "宋体", "FZPingXianYaSongS-R-GB", "zw";
    padding: 15px 12px 1em 5px;
    border-style: none none dotted none;
    border-width: 0px 0px 1px 0px;
}
h2 {
    margin: 1em 0 5em;
    line-height: 120%;
    text-align: left;
    font-family: STSong, serif,"Times New Roman", "方正书宋", "宋体", "FZPingXianYaSongS-R-GB", "zw";
    padding: 15px 12px 1em 5px;
    border-style: none none dotted none;
    border-width: 0px 0px 1px 0px;
}
h3 {
    text-align: center;
}
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { 
    margin: 1em 0 5em;
    line-height: 120%;
    text-align: center;
    font-family: "Times New Roman","方正书宋","宋体","FZPingXianYaSongS-R-GB","zw",sans-serif;
}
p.author { 
    text-align: center;
}
h3.date { }

p {
    margin: 0.5em 0em;
    line-height: 1em;
    text-indent: 2em;
}

hr {
    border:0;
    background-color:#BEBEBE;
    height:1.5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
code{ white-space: pre-wrap; }
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
